*.iml
*.idea
.gradle
/logs/
/local.properties
/inspiration
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
*.logcat
.vscode
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release/
